body{
  background-color: #ecf0f1;
}

h1 {
  color:#34495e;
}

.btn {
  cursor:pointer;
}

.clicked{
  color:#7f8c8d;
  transition:color .5s ease-in-out;
}

.form{
  display:none;
}

.showing{
  display: block;
}

@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 2;
  }
}

.bgImage{
  position:relative;
  background-position: 50%;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  width:95%;
  height:95%;
  /* z-index:-1; */
  animation: fadeIn .5s linear;
  border:2px solid red;
  border-radius: 25px;
} 
